.container {
    border-radius: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
    --tw-shadow-color: #94a3b8;
    /* border-width: 1px;
    border-color: var(--tw-shadow-color); */
}

.theadTr {
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(253 224 71 / var(--tw-border-opacity));
}
.th {
    position: sticky;
    top: 0;
    min-width: 150px;
    text-align: left;
    padding: 0.75rem;
    border-right-width: 8px;
    --tw-border-opacity: 1;
    border-color: rgb(248 250 252 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}
.tbodyTr{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249 / var(--tw-border-opacity));
    --background-hover-color: rgb(241 245 249 / var(--tw-bg-opacity))
}
.tbodyTr:hover{
    --tw-bg-opacity: 1;
    background-color: var(--background-hover-color);
}
.td {
    width: 1.25rem;
    padding: 0.75rem;
    margin-right: 0.5rem;
    letter-spacing: 0.1em;
}
.children {
    position: sticky;
    bottom: 0px;
    text-align: center;
    padding: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}
.children:hover {
    opacity: 1;
}
.removeTd{
    float: right;
    align-items: center;
    font-size: large;
}
.tbodyTr .removeTd:hover {
    --background-hover-color : red;
    color: var(--background-hover-color);
}